.todoList {
	margin-top: 70px;
	font-size: 24px;
	font-weight: 600;
	color: #0F0F10;
}

.todoItem {
	margin-bottom: 18px;
}

.defaultTodo {
	display: flex;
	justify-content: center;
	align-items: center;
}

.mainTitle {
	background-color: #EEEEEE;
	width: 534px;
	border-radius: 14px;
	padding: 10px 20px;
	margin-right: 10px;
}

.mainTitleLocked {
	text-decoration: line-through;
}

