.addTodo {
	margin-top: 30px;
	display: flex;
	justify-content: space-between;
}

.addTodoInput {
	padding: 10px 25px;
	border-radius: 14px;
	width: 534px;
	font-size: 24px;
	font-weight: 600;
	color: #0F0F10;
}

.addTodoButton {
	padding: 10px 42px;
	margin-left: 15px;
	background-color: #8BEA78;
	border-radius: 14px;
	color: black;
	font-size: 18px;
	font-weight: 600;
}